#basic-panel-component {
  position: relative;
  height: 10em;
}

/*
The bottom component is originally not showing until you select a voter
*/

#bottom-component {
  transform: translateX(-30em);
  transition: all 0.5s ease-in-out;
}

#bottom-component .edit-button {
  background-color: var(--main-color);
  float: left;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.edit-button .material-symbols-outlined {
  font-size: 1.2rem;
  line-height: 1.2;
}

.info-panel {
  clear: left;
  background-color: white;
  padding: 0.5rem 0.5rem 0;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(5, 1fr);
  margin-bottom: 1rem;
}

.basic-info-panel {
  height: 16vh;
}

#edit-component {
  transform: translateX(-30em);
  transition: transform 0.5s ease-in-out;
}

.voter-history-panel {
  min-height: 15vh;
}

.this-visit-panel {
  min-height: 25vh;
}

.last-visit-panel {
  min-height: 15vh;
}