/* ----------
Top right button to initiate filter window
------------ */

#list-filter-component {
  position: relative;
  float: right;
  right: 0;
  height: 2.5em;
  width: 2.1rem;
  z-index: 99999;
}

#list-filter-component .button {
  width: 1.7rem;
  margin: 0 0.1rem;
  border-bottom-width: 3px;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* ------------
Filter window
-------------- */

/* ------- Half-transparent overlay ---------- */

.filter-overlay {
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0 0 0 / 60%);
  color: white;
  font-weight: bold;
  z-index: 99999;
  animation: pulse-black 1s infinite;
  display: none;
  transition: display 1s;
}

/* ------- Filter window ---------- */

.filter-window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 16rem;
  height: 28rem;
  margin-top: -10rem;
  margin-left: -8rem;
  background-color: white;
  border-radius: 1rem;
  z-index: 2000;
  z-index: 9999999;
  filter: drop-shadow(10px 10px 12px #333333);
  display: none;
  transition: display 2s;
  overflow-y: scroll;
}

/* --------- Filters --------- */

.party-checkbox {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.party-label {
  color: #0d59a9;
}

.party-checkbox:checked + .party-label {
  text-decoration: solid;
  color: white;
  background-color: #0d59a9;
}

.status-checkbox {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.status-label {
  color: #0d59a9;
}

.status-checkbox:checked + .status-label {
  text-decoration: solid;
  color: white;
  background-color: #0d59a9;
}

.visit-checkbox {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.visit-label {
  color: #0d59a9;
}

.visit-checkbox:checked + .visit-label {
  text-decoration: solid;
  color: white;
  background-color: #0d59a9;
}