@import "https://fonts.googleapis.com/css2?family=Droid+Sans";

html {
  font-family: "Droid Sans", sans-serif;
}

h1 {
  background-color: #364477;
  color: whitesmoke;
  margin: 0px;
  padding: 12px;
  text-align: center;
}

h2 {
  background-color: #364477;
  color: whitesmoke;
  margin: 0px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.map {
  height: 100%;
  z-index: 1;
}

textarea {
  text-align: center;
  height: 20%;

  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 10rem;
  height: 2rem;
  z-index: -1;
}

.voter-list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10rem;
  overflow-y: scroll;
  overflow-x: auto;
  z-index: 1;
}

#response-container {
  background-color: #364477;
  position: absolute;
  top: 0%;
  left: 65%;
  right: 20%;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  border: 40px #364477;
  height: auto;
  width: 300px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: azure;
  transform: inherit;

}

#voter-notes {
  display: flex;
  height: 300px;
  width: 300px;
  flex-direction: column;
  align-items: center;
  margin-top: 0.25rem;
}

button {
  align-self: center;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 10rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
  background-color: #364477;
  color: white;
}

h3 {
  top: 10%;
}

.voter-address {
  font-style: normal;
  font-weight: bold;
  font-size: 5px;
}

#voter-list {
  background-color: #364477;
  color: #ffffff;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

#blank {
  height: auto;
  width: auto;
}