
#voterMap {    z-index: 0 !important;
        height: 650px;
        }

        * {
            box-sizing: border-box;
        }
        body {
            font-size: 14px;
        }

        .listNo_inputbox{
            width: 202px;
            height: 31px;
            background: rgb(203, 203, 203);
            opacity: 1;
            position: absolute;
            top: 115px;
            left: 52px;
            overflow: hidden;
            border: 3px solid #000000;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
        }:empty::before {
            content: attr(placeholder);
        }
        .listNo {
            width: 318px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 90px;
            left: 52px;
            font-family: McLaren;
            font-weight: Bold;
            font-size: 20px;
            opacity: 1;
            text-align: left;
        }
        .pp {
            width: 318px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 175px;
            left: 52px;
            font-family: McLaren;
            font-weight: Bold;
            font-size: 20px;
            opacity: 1;
            text-align: left;
        }
        /*.list_container {
            width: 407px;
            height: 553px;
            background: rgba(152,152,152,1);
            opacity: 1;
            position: absolute;
            top: 279px;
            left: 52px;
            overflow: hidden;
        }*/
        .v416_17 {
            width: 352px;
            height: 23px;
            background: rgba(223,223,223,1);
            opacity: 1;
            position: absolute;
            top: 809px;
            left: 61px;
            overflow: hidden;
        }
        .v416_10 {
            width: 24px;
            height: 245px;
            background: rgba(92,92,92,1);
            opacity: 1;
            position: absolute;
            top: 331px;
            left: 425px;
            overflow: hidden;
        }
        .name {
            color: #fff;
        }
        .name {
            color: #fff;
        }
        .name {
            color: #fff;
        }
        .v416_14 {
            width: 352px;
            height: 156px;
            background: rgba(223,223,223,1);
            opacity: 1;
            position: absolute;
            top: 293px;
            left: 61px;
            overflow: hidden;
        }
        .v416_15 {
            width: 352px;
            height: 156px;
            background: rgba(223,223,223,1);
            opacity: 1;
            position: absolute;
            top: 465px;
            left: 61px;
            overflow: hidden;
        }
        .v416_16 {
            width: 352px;
            height: 156px;
            background: rgba(223,223,223,1);
            opacity: 1;
            position: absolute;
            top: 637px;
            left: 61px;
            overflow: hidden;
        }
        .v416_18 {
            width: 416px;
            height: 783px;
            background: rgba(152,152,152,1);
            opacity: 1;
            position: absolute;
            top: 49px;
            left: 982px;
            overflow: hidden;
        }
        .pp_inputbox {
            width: 202px;
            height: 31px;
            background: rgba(203, 203, 203);
            opacity: 1;
            position: absolute;
            top: 201px;
            left: 52px;
            overflow: hidden;
            border: 3px solid #000000;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
        }:empty::before {
            content: attr(placeholder);
        }
        .button1{
            display: inline-block;
        background-color: #525252;
        border-radius: 5px;
        border: 2px double #000000;
        color: #eeeeee;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        width: 65px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 3px;
            position: absolute;
            top: 112px;
            left: 270px;
        }
        .button2{
            display: inline-block;
        background-color: #525252;
        border-radius: 5px;
        border: 2px double #000000;
        color: #eeeeee;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        width: 65px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 3px;
            position: absolute;
            top: 198px;
            left: 270px;
        }



