body {
    display: flex; 
    flex-direction: column;
    height: 100vh;
    margin: 0; 
    padding: 0;
}

.map {
    height: 100%
}

textarea {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    height: 1rem;
}

.button {
    display:inline-block;
    margin-right:5px;
    height: 1rem;
 }  

.voter-list-container {
    width: 100%;
    display: block;
    height: 10rem;
    overflow-y: scroll;
}