body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .map {
    height: 80%;
  }
  
  .load-voter-list{
    height: 30%;
  }
  .response {
    height: 60%;
    padding: 1rem;
  }
  
  textarea {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    height: 2rem;
    box-sizing: border-box;
  }
  Name {
    width: 100%;
    display: block;
    margin-bottom: 3rem;
    height: 5rem;
    box-sizing: border-box;
  }
  Address {
    width: 100%;
    display: block;
    margin-bottom: 3rem;
    height: 5rem;
    box-sizing: border-box;
  }

  people-notes{
    width: 100%;
    display: block;
    margin-bottom: 3rem;
    height: 5rem;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    display: block;
    padding: 0.5rem;
  }
  
  .voter-list-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 6rem;
    overflow-y: scroll;
    overflow-x: auto;
    z-index: 1;;
}