#voter-list-component {
  position: relative;
  border-radius: 0 0 0.5em 0.5em;
  display: flex;
  flex-direction: column;
}

#voter-list-component .panel {
  overflow: auto;
  background-color: white;
  padding-bottom: 0.05rem;
}

#voter-list-component .scroll-container {
  max-height: 18vh;
  overflow: auto;
  transition: max-height 0.75s;
}

#voter-list-component .scroll-container-expanded {
  max-height: 30vh;
  transition: max-height 0.5s;
}

#voter-list-component .scroll-container-expanded-long {
  max-height: 75vh;
  transition: max-height 1s;
}

#voter-list-component ul {
  display: block;
  margin-right: 0.5rem;
  padding: 0.1rem 0.4rem 0 0.2rem;
}

#voter-list-component li {
  padding: 0.2rem;
  border-bottom: 1px solid #bbb;
  height: 1.3rem;
  display: block;
  width: 28rem;
}

#voter-list-component li .list-name {
  position: relative;
  font-weight: 600;
  float: left;
  margin-right: 1rem;
  font-size: 0.9rem;
}

#voter-list-component li .list-address {
  position: relative;
  float: left;
  margin-right: 1rem;
  font-size: 0.8rem;
  vertical-align: baseline;
  top: 0.05rem;
}

#voter-list-component .button {
  font-size: 0.8rem;
  height: 1.3rem;
  margin-left: auto;
  margin-right: auto;
}

#voter-list-component .panel .button {
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 0.1rem;
  margin-right: 0.4rem;
}
