#voter-list-component {
  position: relative;
  display: flex;
  flex-direction: column;
}

#voter-list-component .panel {
  background-color: white;
  padding: 0 0.5rem 0.05rem 0.5rem;
}

#voter-list-component .scroll-container {
  max-height: 18vh;
  overflow: auto;
  transition: max-height 0.75s;
}

#voter-list-component .scroll-container-expanded {
  max-height: 30vh;
  transition: max-height 0.5s;
}

#voter-list-component .scroll-container-expanded-long {
  max-height: 75vh;
  transition: max-height 1s;
}

#voter-list-component ul {
  display: block;
  margin-right: 0.5rem;
  padding: 0.1rem 0.4rem 0 0.2rem;
}

#voter-list-component li {
  padding: 0.3rem;
  border-bottom: 1px solid #bbb;
  height: 1.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 28rem;
}

#voter-list-component .list-address {
  margin-right: 1rem;
  font-size: 0.8rem;
  padding-top: 0.8rem;
  height: 1rem;
  vertical-align: baseline;
  border-bottom: 0 solid #bbb;
}

#voter-list-component li .list-name {
  position: relative;
  font-weight: 600;
  float: left;
  margin-right: 1rem;
  font-size: 1rem;
  vertical-align: center;
}

#voter-list-component .button {
  font-size: 0.8rem;
  height: 1.3rem;
}

#voter-list-component #list-expand-button {
  margin-left: auto;
  margin-right: auto;
}

#voter-list-component .panel .button {
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 0.1rem;
  margin-right: 0.4rem;
}
