body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list-container{
    overflow: hidden;
    z-index: 2;
}

.list-group{
    display: none;
    overflow: auto;
    height: 100px;
}
.address-group{
    overflow: auto;
}

.map {
    display: block;
    position: absolute;
    flex-grow: 1;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 4%;
}

button {
    width:100%;
    display: block;
}

.list-details{
    height: 30%;
}

.address-container {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    z-index: 2;
    overflow: auto;

    display: none;
}

.address-list{
}

h3 {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

#hidden {
    display: hidden;
}