body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.map {
    display: flex;
    position: relative;
    flex-grow: 1;
}

button {
    width:100%;
    display: block;
}
