body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.map {
    height: 100%;
}

.tree-info{
    padding: 1rem;
}

textarea {
    width:100%;
    display: block;
    margin-bottom: 1rem;
    height: 4rem;
}

button {
    width:100%;
    display: block;
}
